body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background: #030d21; /* Fundo mais escuro para contraste com o texto branco */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.content {
    background: #030d21; /* Fundo do conteúdo mais escuro */
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 800px;
    width: 100%;
    color: white; /* Texto branco */
}

.slideshow-container {
    position: relative;
    max-width: 100%;
    margin: auto;
}

.mySlides {
    display: none;
}

img {
    vertical-align: middle;
    border-radius: 15px;
    width: 100%;
    height: 500px; /* Altura fixa para todas as imagens */
    object-fit: cover; /* Para garantir que a imagem cubra o espaço definido sem distorção */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.fade {
    -webkit-animation: fade 2s ease-in-out;
    animation: fade 2s ease-in-out;
}

@-webkit-keyframes fade {
    from {opacity: .5} 
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .5} 
    to {opacity: 1}
}

.timer-container {
    text-align: center;
    margin: 20px 0;
}

.timer-title {
    font-size: 1.2em;
    color: white; /* Texto branco */
    margin-bottom: 10px;
}

.timer {
    font-size: 1.1em; /* Diminuído o tamanho da fonte do cronômetro */
    color: white; /* Texto branco */
    line-height: 1.6;
}

.separator {
    border: 0;
    height: 1px;
    background: #666; /* Linha separadora em um tom mais claro de cinza */
    margin: 20px 0;
}

.message {
    font-size: 1em; /* Diminuído o tamanho da fonte da mensagem */
    color: white; /* Texto branco */
    line-height: 1.6;
    margin: 20px;
}
